*{
    margin: 0px;
    padding: 0px;
   
}
.item{
    list-style: none;
}
header{
    display: grid;
    
    
}
.item1{
    
    display: block;
    height: 40px;
    
}

.item2{
    
    height:auto;
   
    
}
.item2 .img{
    background-image: url("\tyson-moultrie-BQTHOGNHo08-unsplash.jpg");
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
}


.item3{
    text-transform: capitalize;
    font-size: 20px;
   display: inline-block;
    width: 100%;
    color: #009999;
    font-weight: bold;
}
.item3 p{
    display: inline-block;
}
#page{
    display: block;
    float: right;
    margin-right:7px;
}






nav ul{
    float:right;
}
nav ul li{
    display: inline-block;
    font-size:20px;
    padding: 10px;
    text-transform: capitalize;
    

}
nav ul li:hover{
    text-decoration:underline;
}
article{
    width:200px;
    height: 350px;
    text-transform: capitalize;
    font-size: 20px;
    float: left;
    margin-left:4%;
    margin-top:20px;
text-align: center;
}
a{
    color: black;
    text-decoration: none;
}
article h{
    float: left;
    text-align: center;
}
.title{
    text-align: center;
}
.social{
   
    background-color: #e3d3d3;
    height: 270px;
    margin-top:20px;
    float: left;
    width:100%;
    }
    #zmovies{
        
        float: left;
        font-size: 20px;
        margin-top: 10px;
        color: #009999;
    }
    .zmovie{
        width:40%;
        height: 60%;
        float: left;
        margin-top: 50px;
        margin-left: 50px;
        
        
    }
    .our-link ul{
        float: left;
        width:20%;
        display: block;
        height: 60%;
        margin:50px 0px 0px 0px ;
        text-align: center;
        font-size: large;
        font-weight: bold;
        line-height: 30px;
        background-color: #e3d3d3;
        list-style-type: none;
        
        }
        .our-link #h{
            color: #009999;
            text-decoration: none;
            font-size: 20px;
            text-transform: capitalize;
        }
    .our-link ul li{
        marker:none;
    }
    .socialm{
        width: 20%;
        height: 60%;
        margin-top: 50px;
        float: right;
        background-color: inherit;
       
        
        }
    .socialm ul li{
        display: inline-block;
    }
        .h{
            width: auto;
            height: 10px;
            font-size:32px;
            font-weight: bold;
            background-color: inherit;
            color: #006666;
            
            }
            .zmovie .p{
            width:auto;
            height: 30px;
            margin-bottom: 10px;
            font-size: 20px;
            background-color:inherit;
            }
            i{
                color:black;
                margin: 5px;
                padding: 5px;
                }
                i{
                background-color: inherit;
                
                }
                i:hover{
                background-color: #009999;
                }
    ul{
        list-style-type: none;
    }
   

    
   
   
   .zmovie .p{
    font-size: 16px;
   }
   .our-link ul li{
    font-size: 16px;
   }
  


   #searchbar{
    margin-left: 17%;
    margin-top:5%;
    padding:7px;
    border-radius: 10px;
  }

  input[type=text] {
     width: 60%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
  }

  /* When the input field gets focus,
       change its width to 100% */
  input[type=text]:focus {
    width: 70%;
    border: white;
  }

 #list{
   font-size:  1.5em;
   margin-left: 90px;
  }

.animals{
  display: list-item;    
 } 
 .wrp{
    margin: 20px;
 }
 img{
    width:100%;
    height: 300px;
    
 }

 @media screen and (min-width:853px) and (max-width:1018px){
    article{
        margin: 4px;
    }
    .wrp{
        margin:5%;
    }
 }
 @media screen and (min-width:531px) and (max-width:762px){
    article{
        margin:2px;
    }
    .item2 .img{
        height: 150px;
    }
    img{
        padding:2%;
    }
    .wrp{
        margin-left:15%;
    }
 }
 @media screen and (min-width:281px) and (max-width:500px){
    article{
        margin: 2%;
        width:45%;
        height: 270px;
    }
    img{
        height: 230px;
    }
    .item2 .img{
        height: 100px;
    }
    #searchbar{
        margin-left: 17%;
        margin-top:17%;
        padding:7px;
        border-radius: 10px;
      }
    
    .zmovie{
        width:40%;
        height: 60%;
        float: left;
        margin-top: 50px;
        margin-left: 10px;
        
        
    }
 }
 @media screen and (max-width:280px){
    article{
        margin: 10px;
    }
    .item2 .img{
        height: 100px;
    }
    nav ul li{
        font-size: 16px;
        padding-right: 2px;
    }
 }